Disparador EVO V2.json
{
  "name": "Disparador 1.6.1 - EVO V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "bafdc22f-bf7f-4898-98eb-194232227c13",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2400,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.newDate }}",
              "operation": "before",
              "value2": "={{ $now }}"
            }
          ]
        }
      },
      "id": "7cd84dc4-61bf-4d1b-93c9-451ecce7530a",
      "name": "Horario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1460,
        1040
      ]
    },
    {
      "parameters": {
        "content": "# Buscando Campanhas",
        "height": 456.3958547081602,
        "width": 1567.725925316744
      },
      "id": "430498b5-1cd8-4bb6-b299-6e10d4896521",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2578.3711720259776,
        840
      ]
    },
    {
      "parameters": {
        "content": "# Disparador de Campanha para ChatWoot\n## Evolution API V2\n\n\nv 1.6.1",
        "height": 163.30528430133387,
        "width": 847.4993167412657,
        "color": 4
      },
      "id": "94014a83-8da7-4924-b791-4d63e012fab5",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1940,
        520
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.scheduled_at }}",
        "timeUnit": "hours",
        "duration": 3,
        "options": {
          "includeInputFields": true
        }
      },
      "id": "2b49269a-b2de-42cc-97b4-0bb59db76559",
      "name": "Altera fuso horário",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1640,
        1040
      ]
    },
    {
      "parameters": {
        "content": "# Busca contatos / Envia campanha\n",
        "height": 1190.762291292581,
        "width": 5519.984579857509,
        "color": 3
      },
      "id": "d2679afa-cfc3-4e8a-b1cb-c877ea63e620",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        780
      ]
    },
    {
      "parameters": {},
      "id": "2b8dd660-7159-4110-aa6b-f9d565ae12bc",
      "name": "Repetir ação",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5220,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "// Este exemplo gera um tempo de espera aleatório entre 10 e 60 segundos\nconst minWait = 8; // Tempo mínimo de espera em segundos\nconst maxWait = 15; // Tempo máximo de espera em segundos\nconst randomWaitTime = Math.floor(Math.random() * (maxWait - minWait + 1)) + minWait;\n\nreturn [\n  {\n    json: {\n      waitTime: randomWaitTime\n    }\n  }\n];\n"
      },
      "id": "1703734c-1bb5-4632-a01f-01c4a1991b29",
      "name": "Time Randon1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        1060
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.waitTime }}"
      },
      "id": "88629403-5dbf-43f3-9052-85ba0f41c6dc",
      "name": "Tempo de espera1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2580,
        1060
      ],
      "webhookId": "2d6b5eb1-4f83-449f-b099-59c3e463536b",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Buscar campanhas').item.json.campaign_type }}",
              "value2": "={{ 1 }}"
            }
          ]
        }
      },
      "id": "ff79e0e8-92d3-4781-aa29-19bcbd725e8d",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -840,
        1000
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "audience",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "fdfaf436-54ba-4b0c-9ee5-70745097483e",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -620,
        1000
      ]
    },
    {
      "parameters": {
        "content": "# Trata mensagem",
        "height": 456.8892799239013,
        "width": 728.217926985971,
        "color": 2
      },
      "id": "ffea6786-d98a-4a18-bc29-b3c88a2392fd",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -940,
        840
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "843397f2-8da8-4293-b105-f346dd6f5600",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        1020
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d0205698-dcfd-4d3c-b6e3-dfd7209035c3",
              "leftValue": "={{ $json.limite_disparo }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "289a998c-7462-4cb0-85bd-3f215322c1be",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        1060
      ]
    },
    {
      "parameters": {
        "content": "## Contador de limite / Verificação do número",
        "height": 225.35612209945384,
        "width": 853.0984671711764,
        "color": 4
      },
      "id": "9ce28b8b-39cc-4d42-b831-88d4373ad3d4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        1000
      ]
    },
    {
      "parameters": {
        "content": "## Tempo entre as mensagens",
        "height": 230.3746650610074,
        "width": 404.53569195365,
        "color": 4
      },
      "id": "2bd8061d-c1d9-4a88-816b-7d958090a125",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2340,
        1000
      ]
    },
    {
      "parameters": {
        "content": "## Contabiliza falhas",
        "height": 225.08131697058332,
        "width": 546.5336275124715,
        "color": 2
      },
      "id": "87e4eb0a-0f7f-49ee-ad8e-a5e2f1a414e7",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3720,
        1400
      ]
    },
    {
      "parameters": {
        "content": "## Contabiliza envios",
        "height": 215.09474919455494,
        "width": 376.16757486051324,
        "color": 2
      },
      "id": "42e918da-963b-4636-93c4-6e01a5b6e581",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3460,
        980
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT falhou\nFROM campaigns\nWHERE id = {{ $('IF6').item.json.id }};",
        "options": {
          "queryReplacement": "="
        }
      },
      "id": "63f45ecb-3496-47db-ae96-6995df3fb82a",
      "name": "Busca falhas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3760,
        1440
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT enviou\nFROM campaigns\nWHERE id = {{ $('IF6').item.json.id }};",
        "options": {}
      },
      "id": "aa29b94f-833d-42b4-a7c5-ed133c23b2c9",
      "name": "Busca envios",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3520,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbb23691-dfc9-413f-b996-ba0515b0a902",
              "name": "etiqueta",
              "value": "={{ $('Buscar campanhas').item.json.audience[0].id }}",
              "type": "number"
            },
            {
              "id": "7a194f32-e774-4d48-94ed-1e2c9b9fd025",
              "name": "msg.title",
              "value": "={{ $('Buscar campanhas').item.json.title }}",
              "type": "string"
            },
            {
              "id": "4dc32df3-cc5a-4a9b-8dcd-2d3f8a50a6fd",
              "name": "msg.message",
              "value": "={{ $('Buscar campanhas').item.json.message }}",
              "type": "string"
            },
            {
              "id": "3b2fef42-7655-4ebc-ac93-1a25f77cbec1",
              "name": "img",
              "value": "={{ $('IF6').item.json.message.split('&img=')[1].split('&')[0] }}",
              "type": "string"
            },
            {
              "id": "66e5ac5e-5cef-4737-81d8-9457f8fb8536",
              "name": "nomecontato",
              "value": "={{ $json.message.match(/&nome/)[0] }}",
              "type": "string"
            },
            {
              "id": "afa0b53c-9933-44e1-ab91-49a9540f9c7d",
              "name": "emailcontato",
              "value": "={{ $json.message.match(/&email/)[0] }}",
              "type": "string"
            },
            {
              "id": "fde7488d-6bca-4057-a2c3-17cd21ea41cd",
              "name": "doc",
              "value": "={{ $('IF6').item.json.message.split('&doc=')[1].split('&')[0] }}",
              "type": "string"
            },
            {
              "id": "459f505e-48c9-4829-a151-e9a9c651901c",
              "name": "vid",
              "value": "={{ $('IF6').item.json.message.split('&vid=')[1].split('&')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "23289688-b5b0-4fd5-8d40-e676d5c9a5ca",
      "name": "Campanha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -420,
        1000
      ]
    },
    {
      "parameters": {
        "content": "# Relatorio da campanha",
        "height": 346.43605543050865,
        "width": 1085.0447604700087
      },
      "id": "f6558db9-3afd-446f-88c0-231e25d5ba67",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        414.55190978677456
      ]
    },
    {
      "parameters": {
        "content": "# Limite excedido ",
        "height": 339.69571412210314,
        "width": 1088.2492332463764
      },
      "id": "99fb7999-bb61-4795-9131-67a2e3f84672",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        20
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaigns\nSET enviou = {{ $json.enviou +1 }}\nWHERE id = {{ $('IF6').item.json.id }};",
        "options": {}
      },
      "id": "1cc7e477-e955-455c-80a1-4fa0266b60fc",
      "name": "Adiciona envios",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3680,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Somente texto",
        "height": 199.63817652105178,
        "width": 313.99126283929667
      },
      "id": "0b912e94-708d-4e15-bc27-b74c694ce23f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3080,
        840
      ]
    },
    {
      "parameters": {
        "content": "## Com imagem",
        "height": 221.17684873191945,
        "width": 313.99126283929667
      },
      "id": "7400f675-e351-4e80-9f1f-68953e03f19c",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3080,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ebbe2797-49a1-47e7-9c54-161ff02dfa49",
              "leftValue": "={{ $('Campanha').item.json.nomecontato }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "77ff2a0a-ae27-427a-b489-2daac4e90429",
              "leftValue": "={{ $('Campanha').item.json.emailcontato}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "258cb306-ffe3-4d5e-a47b-73bb3cac4a49",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        1040
      ]
    },
    {
      "parameters": {
        "content": "## Resolve Conversa\n** Se a conversa estiver aberta mantém / Se for uma conversa nova ele fecha!",
        "height": 331.5360284004761,
        "width": 1227.4972493046307
      },
      "id": "ba1cd67f-c593-4bf5-8c94-3c1869b681fe",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3920,
        940
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8de3538-0eac-4149-aaf9-7bc2c5c4b00e",
              "name": "id_caixa",
              "value": "={{ $('Info_Base').item.json.id_caixa }}",
              "type": "string"
            },
            {
              "id": "04e8a587-52b0-4ddc-877e-e97fdd1ef171",
              "name": "id_contato",
              "value": "={{ $('Busca Contato Existe').item.json.payload[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c2bbd25d-8320-4284-9d68-ff7421b7d94d",
      "name": "Salva conversa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        4540,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "493b5963-2314-4179-a065-3a9aca90749e",
              "leftValue": "={{ $json.payload[0].status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2576308-546e-45b1-90ef-5f13e3d80ed7",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4280,
        1040
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "fad518cf-a0b3-455e-a3cb-94e86daeb049",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4700,
        1040
      ],
      "webhookId": "119ec012-5529-4f8a-8ec0-fcd9c42099d4"
    },
    {
      "parameters": {
        "content": "# Resolve Conversa",
        "height": 246.1701698163285,
        "width": 704.4608631799392
      },
      "id": "286c5907-5c39-4e4e-b2c1-d2a7318dc684",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2340,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT limite_disparo\nFROM accounts\nWHERE id ={{ $('Info_Base').item.json.chatwoot_account_id }};",
        "options": {
          "queryReplacement": "="
        }
      },
      "id": "56667cf5-ce5b-4492-8c08-a97ed8413d2b",
      "name": "Busca limite diario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1360,
        1060
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "emailenviarelatorio@gmail.com",
        "toEmail": "={{ $node['Info_Base'].json.email_relatorio }}",
        "subject": "Limite de disparo excedido",
        "text": "=⚠️ Atenção! Algumas mensagens da campanha {{ $node['Buscar campanhas'].json.title }} podem não ter sido enviadas. ⚠️\n\n✔️ Total de envios: {{ $('Notifica limite excedido').item.json.enviou }}\n❌ Número de falhas: {{ $('Notifica limite excedido').item.json.falhou }}\n#️⃣ Limite restante: {{ $('Notifica limite excedido').item.json.limite_disparo }} \n\nO limite de disparos diários foi excedido. Por favor, verifique os envios ou entre em contato com o suporte para mais informações.\n\nObrigado pela compreensão! ",
        "options": {}
      },
      "id": "0e1cc1de-67a1-4ff1-a1cf-3a249eb0bc02",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1800,
        80
      ],
      "credentials": {
        "smtp": {
          "id": "VmMDyV2dTfPZUzPS",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "emailenviarelatorio@gmail.com",
        "toEmail": "={{ $node['Info_Base'].json.email_relatorio }}",
        "subject": "Relatório a Campanha",
        "text": "=📢 Campanha {{ $node['Buscar campanhas'].json.title }} enviada com sucesso! 📢\n\n✔️ Total de envios: {{ $('Resumo relatorio').item.json.enviou }}\n❌ Número de falhas: {{ $('Resumo relatorio').item.json.falhou }} \n#️⃣ Limite restante: {{ $('Resumo relatorio').item.json.limite_disparo }} \n\nObrigado por utilizar nossos serviços!",
        "options": {}
      },
      "id": "ad058ef5-20f1-466e-9a6a-cd80459b1bcf",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1800,
        480
      ],
      "credentials": {
        "smtp": {
          "id": "VmMDyV2dTfPZUzPS",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2573aed-9acc-4fc6-a799-b11e2191d408",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffc62f03-1b4d-4eef-b646-da8d20a5df5c",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1860,
        1060
      ]
    },
    {
      "parameters": {},
      "id": "9b8f8788-2048-4421-b8ab-0ec5008de8bb",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2396,
        360
      ],
      "webhookId": "ba6609a9-f002-4ef1-9071-a20af4dd4022"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaigns\nSET falhou = {{ $json.falhou +1 }}\nWHERE id = {{ $('IF6').item.json.id }};",
        "options": {}
      },
      "id": "38b82f0b-32a8-43b4-904e-c06e65f53052",
      "name": "Adiciona num de falhas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3940,
        1440
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO campaigns_failled (nomecontato, telefone, id_campanha)\nSELECT '{{ $('Busca contatos').item.json.name }}', '{{ $('Busca contatos').item.json.phone_number }}', {{ $('Buscar campanhas').item.json.id }}\nWHERE NOT EXISTS (\n    SELECT 1\n    FROM campaigns_failled\n    WHERE telefone = '{{ $('Busca contatos').item.json.phone_number }}' AND id_campanha = {{ $('Buscar campanhas').item.json.id }}\n);",
        "options": {}
      },
      "id": "c27ae3c7-2c88-4af6-8b2a-ea34d3194f0f",
      "name": "Adiciona num não enviado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4120,
        1440
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0ed1f598-cec8-458a-97d7-1d82aedf251e",
              "leftValue": "={{ $json.falhou }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e375ab5-002b-4691-84d0-934dc8aad698",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.falhou, \n    c.enviou, \n    a.limite_disparo \nFROM \n    campaigns c\nJOIN \n    accounts a ON c.account_id = a.id\nWHERE \n    c.id = {{ $('IF6').item.json.id }};",
        "options": {
          "queryReplacement": "="
        }
      },
      "id": "c0b6f246-e472-4c34-9355-00e1e554f3ef",
      "name": "Notifica limite excedido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69cc2650-7d52-4da1-b391-a88b2326d63d",
              "leftValue": "={{ $json.falhou }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6df9dc73-c592-4646-8dea-fd6874d008af",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "let contatos = items.map(item => `${item.json.nomecontato} - ${item.json.telefone}`).join('\\n');\n\nreturn [\n  {\n    json: {\n      listaContatos: contatos\n    }\n  }\n];"
      },
      "id": "c09113c9-0fd3-4fd3-b41a-656b4a043a6e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "let contatos = items.map(item => `${item.json.nomecontato} - ${item.json.telefone}`).join('\\n');\n\nreturn [\n  {\n    json: {\n      listaContatos: contatos\n    }\n  }\n];"
      },
      "id": "01811a15-f62b-48b0-8d04-03033030b73f",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        220
      ]
    },
    {
      "parameters": {
        "fromEmail": "emailenviarelatorio@gmail.com",
        "toEmail": "={{ $node['Info_Base'].json.email_relatorio }}",
        "subject": "Relatório a Campanha",
        "text": "=📢 Campanha {{ $node['Buscar campanhas'].json.title }} enviada com sucesso! 📢\n\n✔️ Total de envios: {{ $node['Resumo relatorio'].json.enviou }}\n❌ Número de falhas: {{ $node['Resumo relatorio'].json.falhou }} \n#️⃣ Limite restante: {{ $node['Resumo relatorio'].json.limite_disparo }} \n\nContatos não enviados:\n{{ $('Code').item.json[\"listaContatos\"] }}\n\nObrigado por utilizar nossos serviços!",
        "options": {}
      },
      "id": "3b4ac1a1-08c9-45d6-9fa4-5390ea491a33",
      "name": "Send Email2",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1980,
        620
      ],
      "credentials": {
        "smtp": {
          "id": "VmMDyV2dTfPZUzPS",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    (SELECT COUNT(*) FROM campaigns_failled WHERE id_campanha = {{ $('Buscar campanhas').item.json.id }}) AS total_registros,\n    campaigns_failled.*\nFROM campaigns_failled\nWHERE id_campanha = {{ $('Buscar campanhas').item.json.id }};",
        "options": {}
      },
      "id": "282db9c7-4fd5-4393-89ba-2c5e4068d1f4",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1440,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "emailenviarelatorio@gmail.com",
        "toEmail": "={{ $node['Info_Base'].json.email_relatorio }}",
        "subject": "Limite de disparo excedido",
        "text": "=⚠️ Atenção! Algumas mensagens da campanha {{ $node['Buscar campanhas'].json.title }} podem não ter sido enviadas. ⚠️\n\n✔️ Total de envios: {{ $node['Notifica limite excedido'].json.enviou }}\n❌ Número de falhas: {{ $node['Notifica limite excedido'].json.falhou }}\n#️⃣ Limite restante: {{ $node['Notifica limite excedido'].json.limite_disparo }} \n\nContatos não enviados:\n{{ $node['Code1'].json[\"listaContatos\"] }}\n\nO limite de disparos diários foi excedido. Por favor, verifique os envios ou entre em contato com o suporte para mais informações.\n\nObrigado pela compreensão! ",
        "options": {}
      },
      "id": "19f1a7f9-c4a7-4ff5-80f1-944ca4550124",
      "name": "Send Email3",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1980,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "VmMDyV2dTfPZUzPS",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e7aab24-149c-4afb-8970-97f3f4b91841",
              "name": "etiqueta",
              "value": "={{ $node['Buscar campanhas'].json.audience[0].id }}",
              "type": "string"
            },
            {
              "id": "93fad362-a35a-43c8-85ce-9d8dff3a28ad",
              "name": "titulo_campanha",
              "value": "={{ $node['Campanha'].json.msg.title }}",
              "type": "string"
            },
            {
              "id": "ae1dace5-7708-4042-a4f6-5d34a6b046bd",
              "name": "id_campanha",
              "value": "={{ $node['Buscar campanhas'].json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7158b41c-6c8f-4e2f-b5f5-66f95cde66e1",
      "name": "Dados da campanha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        800,
        600
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "audience",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "ea27bf0b-5f10-4ca7-ba1a-3284917fdd4f",
      "name": "Tratamento de lista",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        580,
        860
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    (SELECT COUNT(*) FROM campaigns_failled WHERE id_campanha = {{ $node['Dados da campanha'].json.id_campanha }}) AS total_registros,\n    cf.*\nFROM campaigns_failled cf\nWHERE cf.id_campanha = {{ $node['Dados da campanha'].json.id_campanha }};",
        "options": {}
      },
      "id": "bc82cdc6-51d3-4f46-b056-6ee42d1160f8",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1440,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.falhou, \n    c.enviou, \n    a.limite_disparo \nFROM \n    campaigns c\nJOIN \n    accounts a ON c.account_id = a.id\nWHERE \n    c.id = {{ $json.id_campanha }};",
        "options": {}
      },
      "id": "fd303c1c-8e67-4fc4-8c51-b0b42839d55d",
      "name": "Resumo relatorio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE accounts\nSET limite_disparo = {{ $('Busca limite diario').item.json.limite_disparo -1 }}\nWHERE id ={{ $('Info_Base').item.json.chatwoot_account_id }};",
        "options": {}
      },
      "id": "4001445f-4746-4d03-b268-d346cdef6d73",
      "name": "Subtrair",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2040,
        1060
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node['Info_Base'].json.chatwoot_url }}/api/v1/accounts/{{ $node['Info_Base'].json.chatwoot_account_id }}/contacts/{{ $json.payload[0].id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node['Info_Base'].json.chatwoot_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ec7ad0b-93aa-48ac-b314-0a3da8d17335",
      "name": "Abre conversa de contato existente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4120,
        1040
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $node['Info_Base'].json.chatwoot_url }}/api/v1/accounts/{{ $node['Info_Base'].json.chatwoot_account_id }}/contacts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node['Edita Mensagem'].json.verificanum }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node['Info_Base'].json.chatwoot_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9bfcb20d-fa50-4033-bc30-c3c954950079",
      "name": "Busca Contato Existe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3960,
        1040
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Info_Base'].json.evolution_url }}/chat/whatsappNumbers/{{ $node['Info_Base'].json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $node['Info_Base'].json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"{{ $node['Edita Mensagem'].json.verificanum }}\"\n  ]\n} ",
        "options": {}
      },
      "id": "f9baa95b-c2b1-4770-90a6-2c26324e6d10",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Info_Base'].json.chatwoot_url }}/api/v1/accounts/{{ $node['Info_Base'].json.chatwoot_account_id }}/conversations/{{ $json.payload[0].id }}/toggle_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node['Info_Base'].json[\"chatwoot_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"status\": \"resolved\"\n}",
        "options": {}
      },
      "id": "1efb9270-f501-416a-8bf8-9cf0dc9c841e",
      "name": "Fecha Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2876,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $node['Info_Base'].json.chatwoot_url }}/api/v1/accounts/{{ $node['Info_Base'].json.chatwoot_account_id }}/contacts/{{ $json.payload[0].id }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node['Info_Base'].json.chatwoot_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4fb9e4b9-4e08-4d0c-beaf-ef8e52038835",
      "name": "Seleciona conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2716,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $node['Info_Base'].json.chatwoot_url }}/api/v1/accounts/{{ $node['Info_Base'].json.chatwoot_account_id }}/contacts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=+{{ $node['Info_Base'].json[\"recebe_relatorio\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node['Info_Base'].json.chatwoot_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62db017e-7fe0-4510-a330-346fdff25938",
      "name": "Busca Contato do Relatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2560,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversations\nSET status = 1\nWHERE contact_id = {{ $json.id_contato }};",
        "options": {}
      },
      "id": "4e6958b7-3bcf-4487-b9d2-996b1fba080b",
      "name": "Resolve Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4880,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Com documento",
        "height": 221.17684873191945,
        "width": 313.99126283929667
      },
      "id": "50d21611-b8b0-4f91-839a-fe415fe42c26",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3080,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM campaigns c \nWHERE account_id = 0\nAND status_envia = 0\nAND inbox_id = 0;",
        "additionalFields": {}
      },
      "id": "3f66e6c3-fdb9-4793-8b6a-a196f8cd1779",
      "name": "Buscar campanhas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -2040,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaigns SET status_envia = 1 WHERE id = {{ $json.id }}",
        "options": {}
      },
      "id": "269d9478-33fb-43d8-bbdd-f5efd9caf61d",
      "name": "UPDATE CAMPANHA",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1200,
        860
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.*\nFROM contacts c\nJOIN taggings tg ON c.id = tg.taggable_id\nWHERE tg.tag_id = {{ $json.etiqueta }}\nAND tg.taggable_type = 'Contact'\nAND c.account_id = {{ $node['Info_Base'].json.chatwoot_account_id }};",
        "options": {}
      },
      "id": "563e9403-9872-45e3-98da-94d54e21321d",
      "name": "Busca contatos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -80,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "CbrIGpLnj1oilB4h",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatwoot_url",
              "value": "https://urlchatwoot.com"
            },
            {
              "name": "evolution_url",
              "value": "https://urlevo.com"
            },
            {
              "name": "chatwoot_token",
              "value": "tokenchatwoot"
            },
            {
              "name": "global_api_key",
              "value": "global api evo"
            },
            {
              "name": "instance_name",
              "value": "nome da tenancia evo"
            },
            {
              "name": "chatwoot_account_id",
              "value": "id conta chatwoot"
            },
            {
              "name": "email_relatorio",
              "value": "email@email.com"
            },
            {
              "name": "recebe_relatorio",
              "value": "551199996666"
            }
          ]
        },
        "options": {}
      },
      "id": "8568add8-0c72-4076-be53-4023558e6a74",
      "name": "Info_Base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2220,
        1040
      ]
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ $('Info_Base').item.json.evolution_url }}/message/sendText/{{ $('Info_Base').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $('Info_Base').item.json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Edita Mensagem'].json.verificanum }}\",\n    \"text\": \"{{ $node['Edita Mensagem'].json.var_msg.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "id": "79451c6f-7546-4ebe-b733-2a604a6d1621",
      "name": "Envia msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3180,
        880
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "eba67cd0-fd9f-4069-b1e3-accd10450f96",
              "leftValue": "={{ $('Campanha').item.json.img}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "de8f0cf5-8faf-45a1-8965-7e660b401c5d",
              "leftValue": "={{ $('Campanha').item.json.doc}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "292e83ff-984b-4d13-8997-a70e14d6cab6",
              "leftValue": "={{ $('Campanha').item.json.vid}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "02b17ee7-4204-4dc1-ab1a-ecb890ff770d",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2800,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Info_Base'].json[\"evolution_url\"] }}/message/sendText/{{ $node['Info_Base'].json[\"instance_name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $node['Info_Base'].json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Info_Base'].json[\"recebe_relatorio\"] }}\",\n    \"text\": \"📢 Campanha *{{ $node['Buscar campanhas'].json.title }}* enviada com sucesso! 📢\\n\\n✔️ Total de envios: {{ $node['Resumo relatorio'].json.enviou }}\\n❌ Número de falhas: {{ $node['Resumo relatorio'].json.falhou }}\\n#️⃣ Limite restante: {{ $node['Resumo relatorio'].json.limite_disparo }}\\n\\n*Contatos não enviados:*\\n{{ $node['Code'].json.listaContatos.replace(/\\n/g, '\\\\n') }} \\n\\nObrigado por utilizar nossos serviços!\"\n}",
        "options": {}
      },
      "id": "ec288f97-448c-4622-aab7-1b5bd6ca24dd",
      "name": "Envia relatorio3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        620
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Info_Base'].json.evolution_url }}/message/sendText/{{ $node['Info_Base'].json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $node['Info_Base'].json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Info_Base'].json[\"recebe_relatorio\"] }}\",\n    \"text\": \"📢 Campanha *{{ $node['Buscar campanhas'].json.title }}* enviada com sucesso! 📢\\n\\n✔️ Total de envios: {{ $json[\"enviou\"] }}\\n❌ Número de falhas: {{ $json[\"falhou\"] }}\\n#️⃣ Limite restante: {{ $json[\"limite_disparo\"] }}\\n\\nObrigado por utilizar nossos serviços!\"\n}",
        "options": {}
      },
      "id": "1ad7e000-66cd-4a13-ad7b-19c053f36731",
      "name": "Envia relatorio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        480
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Info_Base'].json[\"evolution_url\"] }}/message/sendText/{{ $node['Info_Base'].json[\"instance_name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $node['Info_Base'].json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Info_Base'].json[\"recebe_relatorio\"] }}\",\n    \"text\": \"⚠️ *Atenção!* Algumas mensagens da campanha *{{ $node['Buscar campanhas'].json.title }}* podem não ter sido enviadas. ⚠️\\n\\n✔️ Total de envios: {{ $node['Notifica limite excedido'].json[\"enviou\"] }}\\n❌ Número de falhas: {{ $node['Notifica limite excedido'].json[\"falhou\"] }}\\n#️⃣ Limite restante: {{ $node['Notifica limite excedido'].json[\"limite_disparo\"] }}\\n\\n*Contatos não enviados:*\\n{{ $node['Code1'].json.listaContatos.replace(/\\n/g, '\\\\n') }} \\n\\nO limite de disparos diários foi excedido. Por favor, verifique os envios ou entre em contato com o suporte para mais informações.\\n\\nObrigado pela compreensão!\"\n}",
        "options": {}
      },
      "id": "f12e239e-ed31-4c33-b8de-ac14f65290bd",
      "name": "Envia relatorio2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        220
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Info_Base'].json.evolution_url }}/message/sendText/{{ $node['Info_Base'].json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $node['Info_Base'].json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Info_Base'].json[\"recebe_relatorio\"] }}\",\n    \"text\": \"⚠️ *Atenção!* Algumas mensagens da campanha *{{ $node['Buscar campanhas'].json.title }}* podem não ter sido enviadas. ⚠️\\n\\n✔️ Total de envios: {{ $json[\"enviou\"] }}\\n❌ Número de falhas: {{ $json[\"falhou\"] }}\\n#️⃣ Limite restante: {{ $json[\"limite_disparo\"] }}\\n\\nO limite de disparos diários foi excedido. Por favor, verifique os envios ou entre em contato com o suporte para mais informações.\\n\\nObrigado pela compreensão!\"\n}",
        "options": {}
      },
      "id": "ba4be22a-fc50-4d0a-998d-8e74fd61e7d7",
      "name": "Envia relatorio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        80
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Info_Base'].json.evolution_url }}/message/sendText/{{ $node['Info_Base'].json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $node['Info_Base'].json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Info_Base'].json[\"recebe_relatorio\"] }}\",\n    \"text\": \"📢 Notificação Importante 📢\\n\\n🚀 A campanha *{{ $node['Buscar campanhas'].json.title }}* foi iniciada com sucesso! 🎉\\n\\n📲 As mensagens estão sendo enviadas. Fique atento para atualizações.\\n\\nObrigado por utilizar nossos serviços! 😊\"\n}",
        "options": {}
      },
      "id": "b8864f29-55c3-4385-b048-25cf0c751d69",
      "name": "Envia Notificação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        160,
        920
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a588a036-88bc-4bc2-aefa-a2c0b9af2000",
              "name": "var_msg",
              "value": "={{ $('IF6').item.json.message.split('&nome').join($json.name).split('&email').join($json.email) }}",
              "type": "string"
            },
            {
              "id": "16d86caa-9f85-496d-ae3d-7ad024e100d7",
              "name": "verificanum",
              "value": "={{ $('Loop Over Items').item.json.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f12b3442-4eb7-47e4-b97d-a2991170a5ff",
      "name": "Edita Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        980,
        1040
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mensagem",
              "stringValue": "={{ $node['Edita Mensagem'].json.var_msg.split(\"&doc=\")[0].replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}"
            },
            {
              "name": "titulo",
              "stringValue": "={{ $('Campanha').item.json.msg.title }}"
            },
            {
              "name": "doc",
              "stringValue": "={{ $('Campanha').item.json.doc }}"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "6f339593-0694-4f90-baff-7f42f2e8e335",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3120,
        1460
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mensagem",
              "stringValue": "={{ $node['Edita Mensagem'].json.var_msg.split(\"&img=\")[0].replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}"
            },
            {
              "name": "titulo",
              "stringValue": "={{ $('Campanha').item.json.msg.title }}"
            },
            {
              "name": "img",
              "stringValue": "={{ $('Campanha').item.json.img }}"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "bd9fce21-7f19-485c-bb9d-205931904947",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3120,
        1160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info_Base').item.json.evolution_url }}/message/sendMedia/{{ $('Info_Base').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $('Info_Base').item.json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Edita Mensagem'].json.verificanum }}\",\n    \"mediatype\": \"image\",\n    \"mimetype\": \"image/png\",\n    \"caption\": \"{{ $json.mensagem }}\",\n    \"media\": \"{{ $json[\"img\"] }}\"\n}\n",
        "options": {}
      },
      "id": "bace9c2c-53d1-4131-92c7-ed4681f59c50",
      "name": "Envia msg2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3260,
        1160
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ $('Info_Base').item.json[\"evolution_url\"] }}/message/sendMedia/{{ $('Info_Base').item.json[\"instance_name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $('Info_Base').item.json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Edita Mensagem'].json.verificanum }}\",\n    \"mediatype\": \"document\",\n    \"caption\": \"{{ $json.mensagem }}\",\n    \"media\": \"{{ $json[\"doc\"] }}\",\n    \"fileName\": \"documento.pdf\"\n}",
        "options": {}
      },
      "id": "578fcf51-1876-4626-a8a2-e330fd65a63d",
      "name": "Envia msg1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3260,
        1460
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Com video",
        "height": 221.17684873191945,
        "width": 313.99126283929667
      },
      "id": "7548bef6-893e-4261-9ed4-3303d812136c",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3080,
        1700
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mensagem",
              "stringValue": "={{ $node['Edita Mensagem'].json.var_msg.split(\"&vid=\")[0].replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}"
            },
            {
              "name": "titulo",
              "stringValue": "={{ $('Campanha').item.json.msg.title }}"
            },
            {
              "name": "vid",
              "stringValue": "={{ $('Campanha').item.json.vid }}"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "a1763ae8-f27d-4e74-86df-cafb2d0ef735",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        3120,
        1760
      ]
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ $('Info_Base').item.json[\"evolution_url\"] }}/message/sendMedia/{{ $('Info_Base').item.json[\"instance_name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "apikey",
              "value": "={{ $('Info_Base').item.json.global_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $node['Edita Mensagem'].json.verificanum }}\",\n    \"mediatype\": \"video\",\n    \"caption\": \"{{ $json.mensagem }}\",\n    \"media\": \"{{ $json[\"vid\"] }}\"\n}\n",
        "options": {}
      },
      "id": "7a2d42e0-dc25-4c24-9b8c-62b750fbe6a1",
      "name": "Envia msg3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3260,
        1760
      ],
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Campanha').item.json.img }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "68892a20-1c5e-42f8-a74d-aec4a687d0dd",
                    "leftValue": "={{ $('Campanha').item.json.doc }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a430d20e-500b-4938-a0c4-78d66d8bdff4",
                    "leftValue": "={{ $('Campanha').item.json.vid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b0b43455-db52-4c55-8750-0ce667627170",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2820,
        1300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2564d9e-1377-4676-9a84-a19b315d52aa",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1840,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "0fb805ec-3017-401f-ae0f-d273cc8119d1",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1200,
        1120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Info_Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horario": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          },
          {
            "node": "UPDATE CAMPANHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Altera fuso horário": {
      "main": [
        [
          {
            "node": "Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repetir ação": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Randon1": {
      "main": [
        [
          {
            "node": "Tempo de espera1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tempo de espera1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Campanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Tratamento de lista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifica limite excedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca falhas": {
      "main": [
        [
          {
            "node": "Adiciona num de falhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca envios": {
      "main": [
        [
          {
            "node": "Adiciona envios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campanha": {
      "main": [
        [
          {
            "node": "Busca contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona envios": {
      "main": [
        [
          {
            "node": "Busca Contato Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva conversa": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Repetir ação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salva conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Resolve Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca limite diario": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edita Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edita Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Subtrair",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca falhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Busca Contato do Relatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona num de falhas": {
      "main": [
        [
          {
            "node": "Adiciona num não enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona num não enviado": {
      "main": [
        [
          {
            "node": "Repetir ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Envia relatorio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica limite excedido": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Envia relatorio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Envia relatorio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Envia relatorio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados da campanha": {
      "main": [
        [
          {
            "node": "Resumo relatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamento de lista": {
      "main": [
        [
          {
            "node": "Dados da campanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo relatorio": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subtrair": {
      "main": [
        [
          {
            "node": "Time Randon1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abre conversa de contato existente": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Contato Existe": {
      "main": [
        [
          {
            "node": "Abre conversa de contato existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleciona conversa": {
      "main": [
        [
          {
            "node": "Fecha Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Contato do Relatorio": {
      "main": [
        [
          {
            "node": "Seleciona conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Conversa": {
      "main": [
        [
          {
            "node": "Repetir ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar campanhas": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca contatos": {
      "main": [
        [
          {
            "node": "Envia Notificação",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info_Base": {
      "main": [
        [
          {
            "node": "Buscar campanhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia msg": {
      "main": [
        [
          {
            "node": "Busca envios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca falhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Envia msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia relatorio3": {
      "main": [
        [
          {
            "node": "Send Email2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia relatorio": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia relatorio2": {
      "main": [
        [
          {
            "node": "Send Email3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia relatorio1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edita Mensagem": {
      "main": [
        [
          {
            "node": "Busca limite diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Envia msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Envia msg2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia msg2": {
      "main": [
        [
          {
            "node": "Busca envios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca falhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia msg1": {
      "main": [
        [
          {
            "node": "Busca envios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca falhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Envia msg3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia msg3": {
      "main": [
        [
          {
            "node": "Busca envios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca falhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Altera fuso horário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04b7d8ac-f8dc-4f4f-b7ca-73fd15f8088b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "qoth7BvIbZI0izfE",
  "tags": [
    {
      "createdAt": "2024-06-24T17:54:45.734Z",
      "updatedAt": "2024-06-24T17:54:45.734Z",
      "id": "W4QFAwjDhUwUJMhH",
      "name": "Dev"
    }
  ]
}
